@model List<Ngo.Prayas.ViewModels.EventViewModel>
@{
    ViewData["Title"] = "Index";
}


<!--Page Title-->
<section class="page-title" style="background-image:url(StaticFiles/images/background/5.jpg);">
    <div class="auto-container">
        <div class="inner-box">
            <h1>events</h1>
            <ul class="bread-crumb">
                <li><a href="index.html">Home</a></li>
                <li>events</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!--Sidebar Page Container-->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">

            <!--Content Side-->
            <div class="content-side col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="event-classic">

                    @foreach (var eveents in Model)
                    {

                        <!--Event Style two-->
                        <div class="event-style-two">
                            <div class="inner">
                                <div class="image-box">
                                    <div class="image">
                                        <img src="~/UploadedFiles/@eveents.ImageUrl" alt="" />
                                        <div class="overlay-box">
                                            <div class="overlay-inner">
                                                <div class="content">
                                                    <!--Countdown Timer-->
                                                    <div class="time-counter style-two"><div class="time-countdown clearfix" data-countdown="@eveents.EventDate"></div></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Lower Content-->
                                <div class="lower-content">
                                    <div class="posted-date">@Convert.ToDateTime(eveents.EventDate).ToString("dd") <span>@Convert.ToDateTime(eveents.EventDate).ToString("MMM")</span></div>
                                    <ul class="post-meta">
                                        <li><a href="event-single.html"><span class="icon fa fa-clock-o"></span>@eveents.EventStartTime - @eveents.EventEndTime</a></li>
                                        <li><a href="event-single.html"><span class="icon fa fa-map-marker"></span> @eveents.EventLocation</a></li>
                                    </ul>
                                    <h3><a href="event-single.html">@eveents.EventName</a></h3>
                                    <div class="text">@Html.Raw(eveents.EventDescription)</div>
                                </div>
                            </div>
                        </div>

                    }

                </div>
                <!-- Styled Pagination -->
                <div class="styled-pagination">
                    <ul class="clearfix">
                        <li><a class="prev" href="#"><span class="fa fa-angle-left"></span></a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#" class="active">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a class="next" href="#"><span class="fa fa-angle-right"></span></a></li>
                    </ul>
                </div>
            </div>

            <!--Sidebar Side-->
            <div class="sidebar-side col-lg-4 col-md-4 col-sm-8 col-xs-12">
                <aside class="sidebar default-sidebar">
                    <!-- Categories -->
                    <div class="sidebar-widget categories">
                        <div class="sidebar-title"><h3>CATEGORIES</h3></div>

                        <ul class="list">
                            @foreach (Ngo.Prayas.Models.EventCategory cat in ViewBag.Categories)
                            {
                                <li><a href="#" class="clearfix">@cat.CategoryName<span class="count pull-right">(11)</span></a></li>
                            }
                            @*<li><a href="#" class="clearfix">Accommodation <span class="count pull-right">(11)</span></a></li>
                            <li class="current"><a href="#" class="clearfix">Children Protection <span class="count pull-right">(12)</span></a></li>
                            <li><a href="#" class="clearfix">Donation Event <span class="count pull-right">(21)</span></a></li>
                            <li><a href="#" class="clearfix">Food Supply <span class="count pull-right">(8)</span></a></li>
                            <li><a href="#" class="clearfix">Health care <span class="count pull-right">(6)</span></a></li>*@
                        </ul>

                    </div>

                </aside>
            </div>

        </div>
    </div>
</div>



@section Scripts {
    <script src="~/StaticFiles/js/jquery.countdown.js"></script>
    <script src="~/StaticFiles/js/jquery-ui.js"></script>
    <script src="~/StaticFiles/js/jquery.fancybox.pack.js"></script>
    <script src="~/StaticFiles/js/jquery.fancybox-media.js"></script>
}