<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/StaticFiles/css/bootstrap.css" />
    <link rel="stylesheet" href="~/StaticFiles/css/revolution-slider.css" />
    <link rel="stylesheet" href="~/StaticFiles/css/style.css" />
    <link rel="stylesheet" href="~/StaticFiles/css/jquery-ui.css" />
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="~/StaticFiles/css/responsive.css" rel="stylesheet">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="page-wrapper">
        <!-- Preloader -->
        <div class="preloader"></div>

        <header class="main-header">
            <!-- Header Top One-->
            <div class="header-top-one">
                <div class="auto-container">
                    <div class="clearfix">

                        <!--Top Left-->
                        <div class="top-left top-links">
                            <ul class="clearfix">
                                <li><span class="icon fa fa-phone"></span> <a href="#">1800 123 4567 - 1800 123 4568</a></li>
                                <li><span class="icon fa fa-envelope-o"></span> <a href="#">info@ngoprayas.com</a></li>
                            </ul>
                        </div>

                        <!--Top Right-->
                        <div class="top-right">
                            <div class="social-icon">
                                <a href="#"><span class="fa fa-facebook"></span></a>
                                <a href="#"><span class="fa fa-twitter"></span></a>
                                <a href="#"><span class="fa fa-google-plus"></span></a>
                                <a href="#"><span class="fa fa-youtube"></span></a>
                                <a href="#"><span class="fa fa-instagram"></span></a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <!-- Header Top One End -->
            <!-- Header Lower -->
            <div class="header-lower">
                <div class="main-box">
                    <div class="auto-container">
                        <div class="outer-container clearfix">
                            <!--Logo Box-->
                            <div class="logo-box">
                                <div class="logo"><a href="index.html"><img src="~/staticFiles/images/smallLogo (2).png" alt=""></a></div>
                            </div>

                            <!--Nav Outer-->
                            <div class="nav-outer clearfix">
                                <!-- Main Menu -->
                                <nav class="main-menu">
                                    <div class="navbar-header">
                                        <!-- Toggle Button -->
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>

                                    <div class="navbar-collapse collapse clearfix">
                                        <ul class="navigation clearfix">
                                            <li class="current dropdown">

                                            <li> @Html.ActionLink("Home", "Home", "Default")</li>
                                            @*<ul>
                                                <li><a href="index.html">Home Style One</a></li>
                                                <li><a href="index-2.html">Home Style Two</a></li>
                                                <li><a href="index-3.html">Home Style Three</a></li>
                                                <li class="dropdown">
                                                    <a href="#">Header Styles</a>
                                                    <ul>
                                                        <li><a href="index.html">Header Style One</a></li>
                                                        <li><a href="index-2.html">Header Style Two</a></li>
                                                        <li><a href="index-3.html">Header Style Three</a></li>
                                                    </ul>
                                                </li>
                                            </ul>*@

                                            <li>
                                                @Html.ActionLink("About Us", "AboutUs", "Default")
                                            </li>
                                            @*<li><a asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a></li>
                                            <li><a href="services.html">Services</a></li>*@
                                            @*<li class="dropdown">
                                                <a href="#">Causes</a>
                                                <ul>
                                                    <li><a href="causes.html">Causes</a></li>
                                                    <li><a href="causes-single.html">Causes Single</a></li>
                                                </ul>
                                            </li>*@
                                            <li class="dropdown">
                                                @Html.ActionLink("Event", "Index", "Events")
                                                @*<a asp-area="" asp-controller="Events" asp-action="Index">Events</a>*@
                                                <ul>
                                                    <li> @Html.ActionLink("Event", "Index", "Events")</li>
                                                    <li><a href="event-single.html">Events Single</a></li>
                                                </ul>
                                            </li>
                                            @*<li class="dropdown">
                                                <a href="#">Pages</a>
                                                <ul>
                                                    <li><a href="gallery.html">Portfolio</a></li>
                                                    <li><a href="shop.html">Our Shop</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#">Blog</a>
                                                <ul>
                                                    <li><a href="blog.html">Our Blog</a></li>
                                                    <li><a href="blog-single.html">Blog Single</a></li>
                                                </ul>
                                            </li>*@
                                            <li> @Html.ActionLink("Contact Us", "ContactUs", "ContactUs")</li>

                                        </ul>
                                    </div>
                                </nav><!-- Main Menu End-->
                                <!--Donate Button-->
                                <div class="don-btn-outer">
                                    @Html.ActionLink("Donation", "Index", "Donation", new { @class = "theme-btn donate-btn" })
                                    @*<a asp-controller="Donation" asp-action="Index" class="theme-btn donate-btn">Donation</a>*@
                                </div>

                            </div><!--Nav Outer End-->

                        </div>
                    </div>
                </div>
            </div>



        </header>



        @RenderBody()

        <!--Main Footer-->
        <footer class="main-footer">
            <div class="widgets-section">
                <div class="auto-container">
                    <div class="row clearfix">
                        <!--Footer Column-->
                        <div class="footer-column col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="footer-widget contact-widget">
                                <div class="footer-logo"><a href="index.html"><img src="images/logo-3.png" alt=""></a></div>
                                <div class="widget-content">
                                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</div>
                                    <ul class="contact-info">
                                        <li><div class="icon"><span class="flaticon-house"></span></div>Collins Street West,121 King Street, Melbourne.</li>
                                        <li><div class="icon"><span class="flaticon-technology-1"></span></div>+(11)123 456 7890, </li>
                                        <li><div class="icon"><span class="flaticon-envelope-1"></span></div> info@ngoprayas.com</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--Footer Column-->
                        <div class="footer-column col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="footer-widget gallery-widget">
                                <h2>Our GALLERY</h2>
                                <div class="widget-content">
                                    <div class="images-outer clearfix">
                                        <!--Image Box-->
                                        <figure class="image-box"><a href="~/StaticFile/images/resource/featured-image-1.jpg" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="images/gallery/footer-gallery-thumb-1.jpg" alt=""></a></figure>
                                        <!--Image Box-->
                                        <figure class="image-box"><a href="~/StaticFile/images/resource/featured-image-2.jpg" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="images/gallery/footer-gallery-thumb-2.jpg" alt=""></a></figure>
                                        <!--Image Box-->
                                        <figure class="image-box"><a href="~/StaticFile/images/resource/featured-image-3.jpg" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="images/gallery/footer-gallery-thumb-3.jpg" alt=""></a></figure>
                                        <!--Image Box-->
                                        <figure class="image-box"><a href="~/StaticFile/images/resource/featured-image-1.jpg" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="images/gallery/footer-gallery-thumb-4.jpg" alt=""></a></figure>
                                        <!--Image Box-->
                                        <figure class="image-box"><a href="~/StaticFile/images/resource/featured-image-2.jpg" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="images/gallery/footer-gallery-thumb-5.jpg" alt=""></a></figure>
                                        <!--Image Box-->
                                        <figure class="image-box"><a href="~/StaticFile/images/resource/featured-image-3.jpg" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="images/gallery/footer-gallery-thumb-6.jpg" alt=""></a></figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Footer Column-->
                        <div class="footer-column col-lg-5 col-md-4 col-sm-6 col-xs-12">
                            <div class="footer-widget partner-widget">
                                <h2>OUR PARTNERS</h2>
                                <!--footer sponsors slider-->
                                <div class="footer-sponsors-slider owl-carousel owl-theme">
                                    <div class="slide">
                                        <a href="#"><img src="~/StaticFile/images/sponsors/footer-sponsor-1.png" alt="" /></a>
                                    </div>
                                    <div class="slide">
                                        <a href="#"><img src="~/StaticFile/images/sponsors/footer-sponsor-2.png" alt="" /></a>
                                    </div>
                                    <div class="slide">
                                        <a href="#"><img src="~/StaticFile/images/sponsors/footer-sponsor-3.png" alt="" /></a>
                                    </div>
                                    <div class="slide">
                                        <a href="#"><img src="~/StaticFile/images/sponsors/footer-sponsor-4.png" alt="" /></a>
                                    </div>
                                    <div class="slide">
                                        <a href="#"><img src="~/StaticFiles/images/sponsors/footer-sponsor-1.png" alt="" /></a>
                                    </div>
                                    <div class="slide">
                                        <a href="#"><img src="~/StaticFiles/images/sponsors/footer-sponsor-2.png" alt="" /></a>
                                    </div>
                                    <div class="slide">
                                        <a href="#"><img src="~/StaticFile/images/sponsors/footer-sponsor-3.png" alt="" /></a>
                                    </div>
                                    <div class="slide">
                                        <a href="#"><img src="~/StaticFile/images/sponsors/footer-sponsor-4.png" alt="" /></a>
                                    </div>
                                </div>

                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="auto-container">
                    <div class="row clearfix">
                        <div class="column col-md-6 col-sm-6 col-xs-12">
                            <div class="copyright">&copy; 2020 Prayas Ngo - All Rights Reserved</div>
                        </div>
                        <div class="column col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-icon">
                                <a href="#"><span class="fa fa-facebook"></span></a>
                                <a href="#"><span class="fa fa-twitter"></span></a>
                                <a href="#"><span class="fa fa-google-plus"></span></a>
                                <a href="#"><span class="fa fa-instagram"></span></a>
                                <a href="#"><span class="fa fa-youtube"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--End Main Footer-->
    </div>
    <script src="~/StaticFiles/js/jquery.js"></script>
    <script src="~/StaticFiles/js/bootstrap.min.js"></script>
    <script src="~/StaticFiles/js/jquery.countdown.js"></script>
    <script src="~/StaticFiles/js/revolution.min.js"></script>
    <script src="~/StaticFiles/js/jquery-ui.js"></script>
    <script src="~/StaticFiles/js/jquery.fancybox.pack.js"></script>
    <script src="~/StaticFiles/js/jquery.fancybox-media.js"></script>
    <script src="~/StaticFiles/js/owl.js"></script>
    <script src="~/StaticFiles/js/wow.js"></script>
    <script src="~/StaticFiles/js/appear.js"></script>
    <script src="~/StaticFiles/js/script.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
